.animation-404 {
  height: 400px;
}

.redirection-404 {
  display: flex;
  align-items: center;
  flex-direction: column;

  .redirection-404-buttons {
    a {
      margin: 0 25px;
    }
  }
}

//.link-404 {
//  font-size: 30px;
//  color: #95DDDC;
//}
//
//.link-404 a:visited {
//  color: #95DDDC;
//}