.login_page {
  height: 100vh;

  .header {
    display: flex;
    position: relative;
    padding-top: 25px;
    align-items: center;

    .logo {
      margin-left: 50px;

      p {
        margin: 0;
        font-family: 'Quicksand', sans-serif;
        font-size: 40px;
        font-weight: bold;
      }
    }

    .options {
      position: absolute;
      right: 0;
      margin-right: 50px;

      a {
        font-family: 'Quicksand', sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        text-decoration: none;
      }

      .signup_option {
        margin-left: 70px;
        padding: 10px 20px;
        background-color: #FEE996;
        border-radius: 20px;
      }
    }
  }

  .main_content {
    height: calc(100% - 75px);
    position: relative;

    .card {
      width: 500px;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
      padding: 50px;
      border-radius: 10px;
      box-shadow: 0 0 20px 8px #d0d0d0;

      .log_in {
        h2 {
          font-size: 50px;
          margin-top: 0;
          margin-bottom: 25px;
        }
      }

      .form {
        label {
          margin-bottom: 5px;
          font-family: 'Quicksand', sans-serif;
        }
        input {
          height: 30px;
          border-radius: 5px;
          border: 1px solid #d3d3d5;
        }
        .email_pseudo {
          display: flex;
          flex-direction: column;
        }
        .password {
          display: flex;
          flex-direction: column;
          margin-top: 15px;
          margin-bottom: 30px;
        }
      }

      .button_login {
        font-family: 'Quicksand', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px 20px;
        background-color: #FEE996;
        border-radius: 20px;
      }
    }
  }
}