.mes_cours{
  margin-left:20%;
}
body{
  margin: 0;
}

.courses{
  z-index: 130;

  .page{
    overflow: scroll!important;
  }

  .page2{
    height: 100vh;
  }
}

.ReactModal__Content--after-open{
  z-index: 9999;
}

.container__wrapper{
  height: auto!important;
  padding-bottom: 50px!important;
}

.title_mes_cours{
  width: 80%;
  margin: auto auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 20px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.d-flex{
  display: flex;
}

.d-inline{
  display: inline-flex;
}

.align-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-start{
  justify-content: start;
}

.justify-between{
  justify-content: space-between;
}

.text-center{
  text-align: center!important;
}

.wrap{
  flex-wrap: wrap;
}

.w-full{
  width: 100%;
}

.title_tous_les_cours{
  width: 80%;
  margin: auto auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 20px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.card__description{
  height: 63px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}