.mes_cours{
  margin-left:20%;
  z-index: 130;
}

.courses{
  z-index: 130;
}

.title_mes_cours{
  width: 80%;
  margin: auto auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 20px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.d-flex{
  display: flex;
}

.align-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.text-center{
  text-align: center!important;
}