.cards-slider {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 300px;
}

.cards-slider .react-3d-carousel {
    width: 100%;
}

.react-3d-carousel .slider-left div {
    border: 0!important;
    color: #444444;
}

.react-3d-carousel .slider-right div {
    border: 0!important;
    color: #444444!important;
}


.slider-left > div {
    background: none;
    border: none;   
}

.slider-single-content {
    box-shadow: none!important;
}

.slider-left div, .slider-right div {
    border: none!important;
    color: #444444!important;
    font-size: 30px;
}

.react-quiz-container {
    margin: 0 auto!important;
}