@import "../../styles/main.scss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');

.home {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    padding-top: 125px;
    position: relative;

    .shape {
        position: absolute;
        z-index: 0;

        &::after {
            content: "";
            display: inline-block;
            position: relative;
        }

        &.shape1 {
            left: -90px;
            top: 20%;
            background-color: $main_blue;
            transform: rotate(60deg);
            width: 200px;
            height: 200px;
            position: fixed;

            &::after {
                width: 200px;
                height: 200px;
                border: 3px solid $second_blue;
                top: -25px;
                left: 20px;
            }

        }

        &.shape2 {
            right: -150px;
            bottom: 30%;
            background-color: $pink;
            transform: rotate(110deg);
            width: 250px;
            height: 250px;
            position: fixed;

            &::after {
                width: 250px;
                height: 250px;
                border: 3px solid $main_blue;
                top: 25px;
                left: 25px;
            }

        }

        &.shape3 {
            left: 40%;
            bottom: -10%;
            background-color: $yellow;
            transform: rotate(60deg);
            width: 200px;
            height: 200px;
            position: fixed;
            z-index: 1;

            &::after {
                width: 200px;
                height: 200px;
                border: 3px solid $main_blue;
                top: -20px;
                left: -20px;
            }

        }
    }


    .wrap {
        position: relative;
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 100vh;

        .left {
            width: 60%;

            h1 {
                font-size: 48px;
                line-height: 58px;
            }

            h3 {
                margin-bottom: 50px;
            }

            .features {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 80px 0;

                > div {
                    padding-top: 40px;
                    width: 20%;

                    p {
                        text-align: center;
                    }

                    &.join {
                        background: url("../../assets/img/add.png") no-repeat center top;
                    }

                    &.add_note {
                        background: url("../../assets/img/note.png") no-repeat center top;
                    }

                    &.share {
                        background: url("../../assets/img/share.png") no-repeat center top;
                    }

                    &.public {
                        background: url("../../assets/img/public.png") no-repeat center top;
                    }
                }
            }
        }

        .right {
            width: 40%;
        }
    }
    .home-presentation {

        .form-title {
            text-align: center;
        }

        .contact-form-container {
            display: flex;
            height: fit-content;
            width: 1350px;
            margin-right: auto;
            margin-left: auto;
            padding: 0 0 0px;
            margin-bottom: 150px;
            justify-content: center;

            .contact-form {
                width: 550px;

                .form-field {
                    display: flex;
                    flex-direction: column;
                }

                .field-message {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }
        }

        .home-presentation-container {
            display: flex;
            height: fit-content;
            width: 1350px;
            margin-right: auto;
            margin-left: auto;
            padding: 75px 0 20px;

            .home-presentation-text {
                width: 850px;
                height: 300px;
                padding: 35px;

                .home-seperation-left {
                    width: 150px;
                    margin-right: 100%;
                    height: 4px;
                    background-color: black;
                    margin-bottom: 20px;
                }

                h2 {
                    margin-top: 0;
                    margin-bottom: 16px;
                    color: #95DDDC;
                }
            }

            .home-presentation-text.home-text-left {
                padding: 35px 190px 0 0;

                p {
                    text-align: justify;
                    font-family: 'Nunito', sans-serif;
                }
            }

            .home-presentation-text.home-text-right {
                padding: 35px 0 0 190px;

                p {
                    text-align: justify;
                    font-family: 'Nunito', sans-serif;
                }
            }

            .home-presentation-img {
                width: 500px;
                height: auto;
                background-size: cover;
                border-radius: 10px;
            }

            .home-img-1 {
                background: url("../../assets/img/home-image-1.jpg") no-repeat;
            }

            .home-img-2 {
                background: url("../../assets/img/home-image-2.jpg") no-repeat bottom;
            }

            .home-img-3 {
                background: url("../../assets/img/home-image-3.jpg") no-repeat center;
            }
        }

        .first-presentation-div {
            padding-top: 0;
        }
    }

    .home-footer {
        background-color: #95DDDC;
        display: flex;
        justify-content: center;
        margin-top: 50px;
        z-index: 100;
        position: inherit;

        .home-footer-container {
            display: flex;
            align-items: center;

            .home-footer-redirection {
                margin-left: 125px;

                a {
                    margin-left: 25px;
                    color: black;
                    text-decoration: underline;
                }
            }
        }
    }
}