.course-parameters{
    z-index: 130;
    font-family: 'Quicksand', sans-serif;
}
   
.page{
    width: calc(100% - 310px);
    margin-left: 310px;
    overflow: scroll;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 100px;
    height: auto;

    .container2{
        width: 100%;
        height: 100%;
        margin-top: 70px;
        overflow: hidden;

        .title-course{
            width: 95%;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 30px;
        }
        .description-course{
            width: 95%;
            margin: 0 auto;
            margin-bottom: 30px;
        }

        &-header{
            display: flex;
            width: 95%;
            margin: 0 auto;
            margin-top: 30px;
            justify-content: space-between;

            .badge-public{
                padding: 10px;
                width: auto;
                text-align: center;
                font-weight: bold;
                border-radius: 10px;
            }
            .public{
                background: #FFD9E0;
            }
            .prive{
                background: #3D90BD;
                color: #FFF;
            }
        }

        .container__page2{
            display: flex;
            align-items: center;
            width: 95%;
            justify-content: space-between;
            margin: 0 auto;
            .container__wrapper2{
                width: 100%;
                z-index: 30;
                border-radius: 10px;
                height: auto;
            }

            .container__text{
                // height: 100%;
                padding: 20px;
                form{
                    height: 100%;
                    padding: 20px;
                    width: 100%;
                    .editor{
                        height: 80%;
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                        padding: 20px;
                        width: 100%;
                    }
                }
            }
    
            .form__buttons2{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                height: 80%;
            }
            .button-save{
                font-family: Quicksand;
                font-size: 18px;
                padding: 15px 20px;
                background: #FEE996;
                border-radius: 15px;
                border: none;
                cursor: pointer;
                color: #444444;
                text-transform: uppercase;
                font-weight: 600;
            }

            .button-form{
                margin-top: 50px;
            }
        }
    }
}

.button-save{
    font-family: Quicksand;
    font-size: 18px;
    padding: 15px 20px;
    background: #FEE996;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: #444444;
    text-transform: uppercase;
    font-weight: 600;
}

div.DraftEditor-root {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}
div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
    height: 100%;
}

.wrapperEditor{
    border: 1px solid #F1F1F1;
}

.editor{
    padding: 0px 20px;
}



.mt-5{
    margin: 150px 0px;
    h1{
        margin-top: 75px;
    }
}

.flip-card{
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
}
.flip-card-front{
    background: #FFD9E0;
}
.flip-card-back{
    background: #94DDDE;
}


.react-quiz-container .startQuizWrapper .startQuizBtn {
    background: #3D90BD!important;
    color: #fff!important;
}






.cards-slider {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.cards-slider .react-3d-carousel {
    width: 100%;
}

.react-3d-carousel .slider-left div {
    border: 0!important;
    color: #444444;
}

.react-3d-carousel .slider-right div {
    border: 0!important;
    color: #444444!important;
}


.slider-left > div {
    background: none;
    border: none;   
}

.slider-single-content {
    box-shadow: none!important;
}

.slider-left div, .slider-right div {
    border: none!important;
    color: #444444!important;
    font-size: 30px;
}