.animation-404 {
  height: 400px;
}

.redirections-404 {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 900px;
}

.link-404 {
  font-size: 30px;
  color: #95DDDC;
}

.link-404 a:visited {
  color: #95DDDC;
}