// Css de la card Cours

.card_cours{
  display: flex;
  width: 31%;
  margin: auto auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 20px;
  text-align: start;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px ;
  font-family: 'Quicksand', sans-serif;
  flex-direction: row;


}
// Css image de la card Cours
.image{
  width:30%;
  display: flex;
  flex-direction: column;
  background-color:grey;
}

// Css information de la card Cours = Titre + description
.information{
  width:70%;
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
}


.box-tags{
  gap: 10px;
}

.tag{
  padding: 5px 8px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}